<h1>Library Member Home</h1>

<table>
	<h2>
	<tr>
		<th>
			<a href="book_search.html.erb">Search Books</a>
		</th>
	</tr>
	<tr>
		<th>
			<a href="change_details.html.erb">Edit Profile Details</a>
		</th>
	</tr>
	<tr>
		<th>
			<a href="checkout_history.html.erb">View History</a>
		</th>
	</tr>
	<tr>
		<th>
			<a href="return_book.html.erb">Return Book</a>
		</th>
	</tr>
	</h2>
</table>

<br />

<h3>Josh, Pratik, Kunal, ECE 517</h3>
